<content>
	<div class="tab-bar" data-click="selecte-tab">
		<span class="tab pin"></span>
		<span class="tab active">www.karaqu.com</span>
		<span class="tab-add"></span>
	</div>
	<div class="location-bar">
		<span class="btn disabled">
			<i class="icon-go-prev"></i>
		</span>
		<span class="btn disabled">
			<i class="icon-go-next"></i>
		</span>
		<span class="btn disabled">
			<i class="icon-reload"></i>
		</span>
		<div class="loc-input">
			
		</div>
		<span class="btn disabled">
			<i class="icon-account"></i>
		</span>
		<span class="btn disabled">
			<i class="icon-dots"></i>
		</span>
	</div>
	<div class="tab-body">
		<!-- <iframe frameborder="0" src="https://www.defiantsystem.com/karaqu-beta/"></iframe> -->
	</div>
</content>
